# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/**/DerivedData/
ios/**/Icon?
ios/**/Pods/
ios/**/.symlinks/
ios/**/profile
ios/**/xcuserdata
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/app/build/
android/build/
android/.gradle/runtime-jars/
android/.gradle/daemon/
android/.gradle/caches/
android/local.properties
android/*.iml
android/.idea/
android/captures/
# Keep gradlew and gradlew.bat for EAS builds
# android/gradlew
# android/gradlew.bat
android/key.properties
android/*.hprof
android/.DS_Store
android/app/release/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
# typescript
*.tsbuildinfo

app-example

.env